*{
  margin:0;
  padding:0;
}
body{

  background-image: linear-gradient(to left, rgba(20, 21, 20, 0.744), rgba(29, 31, 29, 0.323)), url("./images/nature2_background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


.left-side-div{

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.005)), url("./images/nature2_background.png");
  background-size:cover;
}

@media screen and (max-width:950px){
  .cityName{

    font-size: 35px;
   
  }

  .cityTemp{

    font-size: 25px;
    margin-top: -25px;

  }

  .cityTime{

    font-size: 20px;
  }

  .cityDate{
    font-size: 20px;

  }
  .countryName {
   margin-top: -40px;
  }
}

@media screen and (max-width:875px){
  .right-side-icon img{
    width:100px;
  }

  .right-side-text {
    font-size:20px;
  }
}

@media screen and (max-width:804px){
  .main-container{
    flex-direction: column;
    margin:auto;
    justify-content: center;
  }
  .left-container{
    width: 90%;
    margin:auto;
  }

  .right-container{
    width:90%;
    margin:auto;
  }
  
  .right-side-text {
    font-size:30px;
  }
  .left-bottom{
    flex-direction: column;
    text-align: center;

  }
  .left-top{
    flex-direction: column;
    gap: 30px;
    justify-content: center;

  }
  .countryName{
    text-align: center;
  }
}

@media screen and (max-width:500px){

  
  .cityTemp{
    font-size:20px;
  }

  .cityName{
    font-size: 25px;
  }

  .countryName{
    font-size:20px;
  }
  .right-side-icon img{
    width:50px;
  }
  }
  
